.card {
    background-color: #212529;
    margin-bottom: 10px;
}

.card-text{
    color: white;
}

.font-weight-bold{
color: white;
}

.text-ellipsis{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}  