.card {
    background-color: #212529;
}

.item{
    color: white;
}

.text-primary{
    color: #1de9b6 !important;
}

.btn-outline-primary{
   color:#1de9b6 !important;
   border-color: #1de9b6 !important;
}

.btn-outline-primary:hover{
    background-color: white !important;
}

